P {
  color: blue;
}
h1 {
   font-family: sans-serif;
 }
title {
  font-style: oblique;
}
#recipe {
  line-height: normal;
  list-style-type: disc;
}
h3 {
  font-weight: bold;
}
h2 {
  font-size: 12;
  line-height:normal;
  color: red; 
}
